/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Основной цвет для светлой темы: #1476bc */
  --ifm-color-primary: #1476bc;
  --ifm-color-primary-dark: #126aa9;
  --ifm-color-primary-darker: #11649f;
  --ifm-color-primary-darkest: #0e5383;
  --ifm-color-primary-light: #1682cf;
  --ifm-color-primary-lighter: #1788d9;
  --ifm-color-primary-lightest: #2e98e4;
  
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Основной цвет для темной темы: #14a1ee */
[data-theme='dark'] {
  --ifm-color-primary: #14a1ee;
  --ifm-color-primary-dark: #1291d6;
  --ifm-color-primary-darker: #1189c9;
  --ifm-color-primary-darkest: #0e71a6;
  --ifm-color-primary-light: #29abf0;
  --ifm-color-primary-lighter: #34b0f1;
  --ifm-color-primary-lightest: #54c0f4;
  
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
