/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  /* Основной цвет для светлой темы: #1476bc */
  --ifm-color-primary: #1476bc;
  --ifm-color-primary-dark: #126aa9;
  --ifm-color-primary-darker: #1164a0;
  --ifm-color-primary-darkest: #0e5384;
  --ifm-color-primary-light: #1682cf;
  --ifm-color-primary-lighter: #1788d8;
  --ifm-color-primary-lightest: #2697e8;
  
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* Основной цвет для темной темы: #14a1ee */
[data-theme='dark'] {
  --ifm-color-primary: #14a1ee;
  --ifm-color-primary-dark: #1092d9;
  --ifm-color-primary-darker: #0f89cd;
  --ifm-color-primary-darkest: #0c71a8;
  --ifm-color-primary-light: #2cabf0;
  --ifm-color-primary-lighter: #38aff1;
  --ifm-color-primary-lightest: #5cbef3;
  
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}

.container-youtube {
    display: flex;
    justify-content: center;
}
    
iframe {
    aspect-ratio: 16 / 9;
    width: 100% !important;
}